/*最小化按钮*/
QPushButton#minBtn
{
	color: rgb(0, 255, 255);
    background-color:transparent;
}
QPushButton#minBtn:hover
{
    color: rgb(255, 0, 0);
}

/*关闭按钮*/
QPushButton#closeBtn
{
	color: rgb(0, 255, 255);
	background-color:transparent;
}
QPushButton#closeBtn:hover
{
	color: rgb(255, 0, 0);
}

/*账号输入框*/
QLineEdit#accountLineEdit
{
	background:white;
    padding-left:5px ;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border: 1px solid rgb(209 , 209 , 209);
}

/*密码输入框*/
QLineEdit#passwordLineEdit
{
	background:white;
    padding-left:5px ;
    padding-top:1px ;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border: 1px solid rgb(209 , 209 , 209);
    border-top:transparent;
}

/*登录按钮*/
QPushButton#loginBtn
{

}
QPushButton#loginBtn:hover
{
	color:white;
    background-color:rgb(44 , 137 , 255);
}

/*注册按钮*/
QPushButton#registerBtn
{
	background-color:rgb(44 , 137 , 255);
	border-radius:5px;

}
QPushButton#registerBtn:hover
{
	 color:rgb(97 , 179 , 246);
}













